body, html{ margin: 0px; padding:0px; }

html, body {
    background-color: #c3c3c3; margin: 0px; padding: 0px;
    font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

      background: #4b2782;
      background: -moz-linear-gradient(-45deg,  #4b2782 0%, #704891 100%);
      background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#4b2782), color-stop(100%,#704891));
      background: -webkit-linear-gradient(-45deg,  #4b2782 0%,#704891 100%);
      background: -o-linear-gradient(-45deg,  #4b2782 0%,#704891 100%);
      background: -ms-linear-gradient(-45deg,  #4b2782 0%,#704891 100%);
      background: linear-gradient(135deg,  #4b2782 0%,#704891 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b2782', endColorstr='#704891',GradientType=1 );
      overflow: hidden;
  }

#wrapper{
/*  background-color: red;*/

    min-width: 100%;
    min-height:100%;

    font-size: 1px;
    color: #4b2782;

     background: #4b2782;
        background: -moz-linear-gradient(-45deg,  #4b2782 0%, #704891 100%);
        background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#4b2782), color-stop(100%,#704891));
        background: -webkit-linear-gradient(-45deg,  #4b2782 0%,#704891 100%);
        background: -o-linear-gradient(-45deg,  #4b2782 0%,#704891 100%);
        background: -ms-linear-gradient(-45deg,  #4b2782 0%,#704891 100%);
        background: linear-gradient(135deg,  #4b2782 0%,#704891 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b2782', endColorstr='#704891',GradientType=1 );
        overflow: hidden;
}

    #container{ 
            width: 1024px;  
            position: absolute; 
            left: 50%; margin-left: -512px;
            top:50%; margin-top: -369px;
            height: 738px;
            background: url('../imgs/background.png') no-repeat 0 0;
            color: #fff;
    }
#timer{
  color: #fff;
  font-size: 48px;
  position: absolute;
  z-index: 1;
}

#clock {
    color: #fff;
    font-size: 48px;
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 400px;
    height: 100px;
}

#intro{
  width: 100%;
  height: 768px;
  background-color: #ff0000;
  position: absolute;
  z-index: 99;
  font-size: 100px;
  color: #fff;
  padding-top: 160px;
  text-align: center;
/*  opacity: 0;
  display: none;*/
  cursor: pointer;
}

#playerlist{
   font-size: 30px;
   margin:20px;
   font-family: Arial;
   color: red;
}

#leaderlist{ margin: 20px; font-size: 20px;}

#playerNum, #playersNum, #playerReady{
   font-size: 30px;
   margin:20px;
   font-family: Arial;
   color: red;
}

.title{
   font-size: 30px;
    margin:20px;
   font-family: Arial;
   color: blue;
}



.txtMed{   font-size: 30px;}

#endframe{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  font-size: 150px;
  color: #fff;
  padding-top: 200px;
  text-align: center;
  opacity: 0;
}

#replay{
  display: none;
}

#tiles{
  position: absolute;
  top: 150px;
  left: 120px;
  z-index: 2;
}

#card1, #card2, #card3, #card4, #card5, #card6, #card7, #card8, #card9, #card10, #card11, #card12 {
  width: 180px;
  height: 180px;
  border-radius: 15px;
  float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}

.cardFront{
     width: 180px;
    height: 180px;
    border-radius: 15px;

    background: rgb(96,22,114); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(96,22,114,1) 0%, rgba(125,185,232,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(96,22,114,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(96,22,114,1) 0%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(96,22,114,1) 0%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(96,22,114,1) 0%,rgba(125,185,232,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(96,22,114,1) 0%,rgba(125,185,232,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#601672', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.clear{clear: both; margin:0px;}